*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/photo-1555949963-aa79dcee981c.jfif");
    background-size: cover;
}

header{
    max-width: 820px;
    margin: auto;
    background: #333;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
}

#search{
    margin-top: 8px;
}

.menuHorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuHorizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menuHorizontal > li:hover{
    background: red;
}

.menuVertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background: rgba(0, 0, 0, .5);
}

.menuHorizontal > li:hover .menuVertical{
    display: block;
}

.menuVertical li:hover{
    background: black;
}

.menuVertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}