* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: bold;
  background-color: #c91414;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #343434;
  color: #e4e3e3;
  height: 8rem;
}

#logo {
  margin-top: 4rem;
}

#titulo {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#menu {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

#menu p {
  margin-right: 1rem;
}

#hamburguesa {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

section {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 1%;
}

img {
  width: 100%;
  margin-top: 2%;
}

.redondeado {
  border-radius: 15px;
  border: 2px solid transparent;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f7f32d;
  color: #272727;
}

footer div {
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    background-color: #343434;
    color: #e4e3e3;
    text-align: center;
  }

  #hamburguesa {
    display: block;
    padding-top: 1.8rem;
  }

  #menu {
    display: none;
  }

  #logo {
    margin-top: 2rem;
  }

  #titulo {
    margin-top: 2rem;
    font-weight: bold;
  }

  #menu p {
    margin-right: 0.5rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 1%;
  }

  img {
    width: 100%;
    margin-top: 2%;
  }

  .redondeado {
    border-radius: 15px;
    border: 2px solid transparent;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    background-color: #f7f32d;
    color: #272727;
  }

  footer div {
    font-weight: bold;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    background-color: #343434;
    color: #e4e3e3;
    text-align: center;
  }

  #hamburguesa {
    display: block;
    padding-top: 1.8rem;
  }

  #menu {
    display: none;
  }

  #logo {
    margin-top: 2rem;
  }

  #titulo {
    margin-top: 1rem;
    font-weight: lighter;
  }

  #menu p {
    margin-right: 0.5rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
  }

  img {
    width: 100%;
    margin-top: 2%;
  }

  .redondeado {
    border-radius: 15px;
    border: 2px solid transparent;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    background-color: #f7f32d;
    color: #272727;
  }

  footer div {
    font-weight: bold;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
